<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nfsn.user.mapper.AuthCredentialsMapper">

    <resultMap id="BaseResultMap" type="cn.nfsn.common.core.domain.AuthCredentials">
        <id property="credentialsId" column="credentials_id" jdbcType="INTEGER"/>
        <result property="idCardNumber" column="id_card_number" jdbcType="VARCHAR"/>
        <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="UserResultMap" type="cn.nfsn.common.core.domain.UserInfo">
        <id property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="userRole" column="user_role" jdbcType="TINYINT"/>
        <result property="userAvatar" column="user_avatar" jdbcType="VARCHAR"/>
        <result property="userIntroduction" column="user_introduction" jdbcType="VARCHAR"/>
        <result property="userLocationProvince" column="user_location_province" jdbcType="VARCHAR"/>
        <result property="userLocationCity" column="user_location_city" jdbcType="VARCHAR"/>
        <result property="userLocationRegion" column="user_location_region" jdbcType="VARCHAR"/>
        <result property="longitude" column="longitude" jdbcType="DOUBLE"/>
        <result property="latitude" column="latitude" jdbcType="DOUBLE"/>
        <result property="wxOpenid" column="wx_openID" jdbcType="VARCHAR"/>
        <result property="qqOpenid" column="qq_openID" jdbcType="VARCHAR"/>
        <result property="loginLastTime" column="login_last_time" jdbcType="TIMESTAMP"/>
        <result property="offLineLastTime" column="off_line_last_time" jdbcType="TIMESTAMP"/>
        <result property="loginLastTimeIp" column="login_last_time_ip" jdbcType="VARCHAR"/>
        <result property="wxUnionid" column="wx_unionid" jdbcType="VARCHAR"/>
        <result property="qqUnionid" column="QQ_unionid" jdbcType="VARCHAR"/>
        <result property="userRegistTime" column="user_regist_time" jdbcType="TIMESTAMP"/>
        <result property="userStatus" column="user_status" jdbcType="TINYINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="logoutStatus" column="logout_status" jdbcType="TINYINT"/>
        <result property="appCode" column="app_code" jdbcType="CHAR"/>
        <result property="credentialsId" column="credentials_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        credentials_id,id_card_number,phone_number,
        email
    </sql>
</mapper>
